name: Trigger deploy for web1 after 1 min

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Wait & Deploy to Vercel
    runs-on: ubuntu-latest
    environment: tofu-production

    steps:
      - name: Wait 1 minute before deploying
        run: sleep 20

      - name: Trigger Vercel Deploy Hook
        run: |
          DEPLOY_HOOK_URL=$(tofu -chdir=".infrastructure/web1" output -var-file="env/production.tfvars" -raw tofu_web1_deploy_hook_url)
          curl -s -X POST "$DEPLOY_HOOK_URL" \
            --fail \
            --show-error
